# Ignore Mac 
.DS_Store
.vscode/*
*.pyx
*.db
*.log

# We don't want .env checked in
.env

# Make sure we don't check in any config files
*.cfg
*.json

# Also don't want to check in any of the csv/xlsx files
*.csv
*.xlsx
!sample*

# No python compiled files
*.pyc


#Ignore lib folder
/lib