# Ignore Mac 
.DS_Store
.vscode/*

# We don't want .env checked in
.env

# Make sure we don't check in any config files
*.cfg
*.json

# Also don't want to check in any of the csv files
*.csv
!sample*
